@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  min-height: 100vh;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.app-root,
.v-application,
.v-main {
  background: transparent !important;
  min-height: 100vh;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
